language: objective-c
osx_image: xcode10.2
jobs:
  include:
    - stage: "Build framework"
      install: carthage build --platform iOS
      script: xcodebuild build -scheme Realm+JSON -project Realm+JSON.xcodeproj -sdk iphonesimulator -quiet

    - stage: "Build demo project"
      install: carthage build --no-skip-current --platform iOS; pushd Demo; bundle install; bundle exec pod install
      script: pushd Demo; xcodebuild build -scheme RealmJSONDemo -workspace RealmJSONDemo.xcworkspace -sdk iphonesimulator -quiet
